<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzy.dao.BespeakMapper">
  <resultMap id="BaseResultMap" type="hzy.entity.Bespeak">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hid" jdbcType="INTEGER" property="hid" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="bespeak_time" jdbcType="TIMESTAMP" property="bespeakTime" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hid, card_id, did, bespeak_time, num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bespeak
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bespeak
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hzy.entity.Bespeak">
    insert into bespeak (id, hid, card_id, 
      did, bespeak_time, num)
    values (#{id,jdbcType=INTEGER}, #{hid,jdbcType=INTEGER}, #{cardId,jdbcType=VARCHAR}, 
      #{did,jdbcType=INTEGER}, #{bespeakTime,jdbcType=TIMESTAMP}, #{num,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hzy.entity.Bespeak">
    insert into bespeak
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hid != null">
        hid,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="did != null">
        did,
      </if>
      <if test="bespeakTime != null">
        bespeak_time,
      </if>
      <if test="num != null">
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hid != null">
        #{hid,jdbcType=INTEGER},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="bespeakTime != null">
        #{bespeakTime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hzy.entity.Bespeak">
    update bespeak
    <set>
      <if test="hid != null">
        hid = #{hid,jdbcType=INTEGER},
      </if>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="did != null">
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="bespeakTime != null">
        bespeak_time = #{bespeakTime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hzy.entity.Bespeak">
    update bespeak
    set hid = #{hid,jdbcType=INTEGER},
      card_id = #{cardId,jdbcType=VARCHAR},
      did = #{did,jdbcType=INTEGER},
      bespeak_time = #{bespeakTime,jdbcType=TIMESTAMP},
      num = #{num,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>