<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzy.dao.DoctorMapper">
  <resultMap id="BaseResultMap" type="hzy.entity.Doctor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oid" jdbcType="INTEGER" property="oid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="age" jdbcType="SMALLINT" property="age" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="span" jdbcType="INTEGER" property="span" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oid, name, sex, age, brief, phone, photo, span
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from doctor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from doctor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hzy.entity.Doctor">
    insert into doctor (id, oid, name, 
      sex, age, brief, 
      phone, photo, span)
    values (#{id,jdbcType=INTEGER}, #{oid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=SMALLINT}, #{age,jdbcType=SMALLINT}, #{brief,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{span,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hzy.entity.Doctor">
    insert into doctor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="brief != null">
        brief,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="span != null">
        span,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="age != null">
        #{age,jdbcType=SMALLINT},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="span != null">
        #{span,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hzy.entity.Doctor">
    update doctor
    <set>
      <if test="oid != null">
        oid = #{oid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=SMALLINT},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="span != null">
        span = #{span,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hzy.entity.Doctor">
    update doctor
    set oid = #{oid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=SMALLINT},
      age = #{age,jdbcType=SMALLINT},
      brief = #{brief,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      span = #{span,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 根据条件查询医生信息 -->
  <select id="selectAllRecord" parameterType="hzy.entity.Doctor" resultMap="BaseResultMap">
    SELECT
    d.*,
    o.name AS officeName
    FROM
    doctor d
    LEFT JOIN
    office o ON d.oid = o.id
    LEFT JOIN
    hospital h ON o.hid = h.id
    <where>
      <if test="id != null">
        AND d.id = #{id}
      </if>
      <if test="name != null and name != ''">
        AND d.name = #{name}
      </if>
      <if test="oid != null">
        AND d.oid = #{oid}
      </if>
      <if test="hid != null">
        AND o.hid = #{hid}
      </if>
      <if test="useInManage != null and useInManage.size() > 0">
        and d.id NOT IN
        <foreach collection="useInManage" item="item" index="index" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
    </where>
  </select>
</mapper>