<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzy.dao.ManageDetailMapper">
  <resultMap id="BaseResultMap" type="hzy.entity.ManageDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="wid" jdbcType="INTEGER" property="wid" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mid, wid, time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manage_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from manage_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hzy.entity.ManageDetail">
    insert into manage_detail (id, mid, wid, 
      time, status)
    values (#{id,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER}, #{wid,jdbcType=INTEGER}, 
      #{time,jdbcType=DATE}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hzy.entity.ManageDetail">
    insert into manage_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="wid != null">
        wid,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="wid != null">
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hzy.entity.ManageDetail">
    update manage_detail
    <set>
      <if test="mid != null">
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="wid != null">
        wid = #{wid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hzy.entity.ManageDetail">
    update manage_detail
    set mid = #{mid,jdbcType=INTEGER},
      wid = #{wid,jdbcType=INTEGER},
      time = #{time,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER}
    where
      id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectRecordByTime" resultMap="BaseResultMap">
    SELECT
      *
    FROM
      manage_detail md
    WHERE
      md.mid = #{mid}
    AND
      md.time = #{time}
  </select>

  <delete id="deleteByMid">
    DELETE FROM
      manage_detail md
    WHERE
      md.mid = #{mid}
    AND
    <![CDATA[
      DATE_FORMAT(md.time,'%Y-%m-%d') >= DATE_FORMAT(#{time},'%Y-%m-%d')
    ]]>
  </delete>

</mapper>